body{
    background-color: #A6D0DD;
    text-align: center;
    display: block;
    margin: 8px;
    padding: 8px;
}
.btn {
    /*text-emphasis-color: #0A4D68;*/
    background-color: #0A4D68;
    margin: 20px;
    display: inline-block;
    height: 80px;
    width: 400px;
    border: 3px solid black;
    /* border-radius: 10%; */
}
.btn1{
    background-color: #0A4D68;
    margin: 0px;
    display: inline-block;
    height: 100px;
    width: 1100px;
    /* border: 3px solid black; */
    /* border-radius: 10%; */
}
h1{
    color: aliceblue;
}